# Don't push the word embedding files 
preprocessing/glove/
preprocessing/data/
word_vectors/

# File produced by produce_answer.py
predictions.json

.DS_Store
*.pyc

# This is a logs folder created by pytest.
.cache/
